@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.footer{
    background-color: #222;
    display:flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 0 22% 1% 22%;
    border-radius: 3px;
}

.name{
    margin-top: 12px;
    margin-bottom: 2px;
    font-size: 12px;
    padding: 20px 30px, 15px;
    color: white;
    font-family: "Roboto", sans-serif;
}

a{
    color: white;
}

.iconContainer{
    width: 50%;
    height: 20px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}